<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sankey Diagram</title>
</head>
<body>
<h1 style="font-family: monospace;"> Sankey Diagram </h1>
<!-- partial:index.partial.html -->
<svg width="1800" height="2000"></svg>

<style type="text/css">
  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /*padding-bottom: 100%;*/ /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

</style>

<!-- partial -->
  <!-- <script src='https://unpkg.com/d3@5'></script> -->
  <script src="https://unpkg.com/d3-array@1"></script>
<script src="https://unpkg.com/d3-collection@1"></script>
<script src="https://unpkg.com/d3-path@1"></script>
<script src="https://unpkg.com/d3-shape@1"></script>
  <script src='https://unpkg.com/d3-sankey@0'></script>
  <script src="https://use.typekit.net/yag6yaf.js"></script>
  <!-- <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script> -->
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>

<script type="text/javascript">

var svg = d3.select("svg"),
    margin = {top: 50, right: 300, bottom: 0, left: 50},
    width = +svg.attr("width") -margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

var g = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

d3.select("div#chartId")
   .append("div")
   .classed("svg-container", true) //container class to make it responsive
   .append("svg")
   //responsive SVG needs these 2 attributes and no width and height attr
   .attr("preserveAspectRatio", "xMinYMin meet")
   .attr("viewBox", "0 0 600 400")
   //class to make it responsive
   .classed("svg-content-responsive", true); 

var aspect = width / height,
    chart = d3.select('#chart');

var formatNumber = d3.format(",.0f"),
    color = d3.scaleOrdinal(d3.schemeCategory10);

var sankey = d3.sankey()
    .nodeSort(null)
    //.nodeAlign(d3.sankeyLeft)
    .nodeWidth(20)
    .nodePadding(8)
    .iterations(400)
    .extent([[0, 0], [width, height]]);
 
var link = g.append("g")
    .attr("class", "links")
    .attr("fill", "none")
    .attr("stroke", "#000")
    .attr("stroke-opacity", 0.4)
  .selectAll("path");

var node = g.append("g")
    .attr("class", "nodes")
    .attr("font-family", "monospace")
    .attr("font-weight", "bold")
    .attr("font-size", 14)
  .selectAll("g");

var indexLookup = {};
  
  // generate sankey layout
   var dataNodes = {
      "nodes": [],
      "links": []
      };

  var data = {% autoescape off %}{{ rows }}{% endautoescape %};
  var elements_list = []
  var category_list = []
  var node_counter = 0

  for (var row in data){
      if (!elements_list.includes(data[row]["fields"]["element"])){
        dataNodes["nodes"].push({
            "name": data[row]["fields"]["element"],
            "description": data[row]["fields"]["element_description"]
          });
        var currentSize = dataNodes["nodes"].length - 1;
        indexLookup[data[row]["fields"]["element"]] = currentSize;
        elements_list.push(data[row]["fields"]["element"])
      }  
  };

  for (var row in data){
      if (!category_list.includes(data[row]["fields"]["category"])){
        dataNodes["nodes"].push({
            "name": data[row]["fields"]["category"],
            "description":""
          });
        var currentSize = dataNodes["nodes"].length - 1;
        indexLookup[data[row]["fields"]["category"]] = currentSize;
        category_list.push(data[row]["fields"]["category"])
      }  
  };

  dataNodes["nodes"].push({
    "name": "Good",
    "description":'This is Good'
  });
  
  var currentSize = dataNodes["nodes"].length - 1;
  indexLookup["Good"] = currentSize;

  dataNodes["nodes"].push({
    "name": "Bad",
    "description":'This is Bad'
  });

  var currentSize = dataNodes["nodes"].length - 1;
  indexLookup["Bad"] = currentSize;
  
  bool_data_list = ["Good", "Bad"]

  for (var elem in elements_list){
    var t1 = {
      "source": indexLookup[elements_list[elem]],
      "target": indexLookup["Good"],
      "value": 0
    };

    var t2 = {
      "source": indexLookup[elements_list[elem]],
      "target": indexLookup["Bad"],
      "value": 0
    };

    for (var row in data){
      if (data[row]["fields"]["element"] == elements_list[elem]){
        
        if (data[row]["fields"]["bool_val"] == 1){
          t1["value"] = t1["value"] + 1
        }

        if (data[row]["fields"]["bool_val"] == 0){
          t2["value"] = t2["value"] + 1
        }

      }
      
    }

    dataNodes["links"].push(t1);
    dataNodes["links"].push(t2);

  }

counter_dict= {}
  
  for (var row in data){

    var source = data[row]["fields"]["category"]
    var target = data[row]["fields"]["element"]
    var key_name = source.concat("_", target)

    if (key_name in counter_dict){
      counter_dict[key_name] =  counter_dict[key_name] + 1
    } else {
      counter_dict[key_name] = 1
    }

      dataNodes["links"].push({
        "source":indexLookup[source],
        "target":indexLookup[target],
        "value":counter_dict[key_name]
      })
    }



var return_text = function(node){
  if(category_list.includes(node.name)){return node.name;}
  else{
    return node.description;
  }
}

var isCategory = function(node) {
  if (!category_list.includes(node)){
    return node;
  } else {
    return "";
  }
}

var return_tooltip = function(node){
  if(category_list.includes(node.name)){
    return tooltip_category;
  } else {
    return tooltip;
  }
}

var tooltip = d3.select("body")
    .append("div")
    .style("position", "absolute")
    .style("z-index", "10")
    .style("font-family", "monospace")
    .style("visibility", "hidden")
    .style("background", "black")
    .style("opacity", 1.0)
    .style("font-size", "20px")
    .style("border-radius", "6px")
    .style("padding", "5px 5px")
    .style("color", "white")
    .style("width", "30%");

var tooltip_category = d3.select("body")
    .append("div")
    .style("position", "absolute")
    .style("z-index", "10")
    .style("font-family", "monospace")
    .style("visibility", "hidden")
    .style("background", "black")
    .style("opacity", 1.0)
    .style("font-size", "10px")
    .style("border-radius", "6px")
    .style("padding", "5px 5px")
    .style("max-width","200px")
    .style("word-wrap","break-word")
    .style("color", "white");


  var scale = d3.scaleOrdinal(["#FFADAF", "#FFC980", "#CB91A7", "#9DACCB", "#95D1A5", 
                "#F586C6", "#BFDD81", "#F18489", "#80BCEC", "#91CBB5"])
  
  var filterNodes = Object.values(dataNodes.links).filter(node => node.value > 0);
  console.log(filterNodes)
  
  dataNodes.links = filterNodes

  sankey(dataNodes)

  console.log(dataNodes.links)

console.log(dataNodes.nodes)
  node = node
    .data(dataNodes.nodes)
    .enter().append("g")
      .attr("transform", function(d) {return "translate(" + d.x0 + "," + (d.y0) + ")"; });

  node.append("rect")
      .attr("height", function(d) {return d.y1 - d.y0;})
      .attr("width", sankey.nodeWidth())
      .attr("fill", function(d) {return scale(indexLookup[d.name]);})
      .on("mouseover", function(d){return_tooltip(d).text(return_text(d));return return_tooltip(d).style("visibility", "visible");})
      .on("mousemove", function(d){return return_tooltip(d).style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
      .on("mouseout", function(d){return return_tooltip(d).style("visibility", "hidden");});


  node.append("text")
      .attr("class", "data_labels")
      .attr("x", sankey.nodeWidth()+10)
      .attr("y", function(d) {return (d.y1-d.y0)/2; })
      //.attr("transform", null)
      .text(function(d) { return isCategory(d.name);})
      .filter(function(d) { return d.x0 < width / 2; })
      .attr("x", sankey.nodeWidth() - 25)
      .attr("text-anchor", "end");
      console.log(dataNodes.links)
   link = link
    .data(dataNodes.links)
    .enter().append("path")
      //.attr("transform", function(d) {return "translate(" + d.y1+ "," + d.y0 + ")"; })
      .attr("d", d3.sankeyLinkHorizontal())
      .attr("stroke-width", function(d) { return Math.max(3, d.width); })
      //.attr("stroke-width", function(d) { return d.width; })
      .attr("stroke-opacity", 0.2)
      .attr("stroke", function(d) {
        return scale(indexLookup[d.source.name]);
      })
        .on("mouseover", function() {
        d3.select(this)
          .attr("stroke-opacity", 1.0);
      })
      .on("mouseout", function() {
        d3.select(this)
                    .attr("stroke-opacity", 0.2);
       })

</script>

